[submodule "ganhando_produtividade_no_java_com_spring_framework/desafio_design_patterns_com_java_dos_classicos_gof_ao_spring/lab-padroes-projeto-spring"]
	path = ganhando_produtividade_no_java_com_spring_framework/desafio_design_patterns_com_java_dos_classicos_gof_ao_spring/lab-padroes-projeto-spring
	url = https://github.com/Lucasgyn94/dio-lab-padroes-projeto-spring.git
